<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market woman: Payment</title>
</head>
<body onLoad="document.submit2cepay_form.submit()">

<!--
Note: Replace https://www.cashenvoy.com/sandbox2/?cmd=cepay with https://www.cashenvoy.com/webservice/?cmd=cepay once you have been switched to the live environment.
-->
<form method="post" name="submit2cepay_form" action="https://www.cashenvoy.com/sandbox2/?cmd=cepay" target="_self">
<input type="hidden" name="ce_merchantid" value="{{ merchant_id }}"/>
<input type="hidden" name="ce_transref" value="{{trans_ref  }}"/>
<input type="hidden" name="ce_amount" value="{{ amount }}"/>
<input type="hidden" name="ce_customerid" value=" {{ customer_id }}"/>
<input type="hidden" name="ce_memo" value="{{ memo }}"/>
<input type="hidden" name="ce_notifyurl" value="{{ cenurl }}"/>
<input type="hidden" name="ce_window" value="parent"/><!-- self or parent -->
<input type="hidden" name="ce_signature" value="{{ signature }}"/>
</form>
</body>
</html>